<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="users" type="java.util.List"*/-->
<!--/*@thymesVar id="user" type="guru.springframework.api.domain.User"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">Users from API</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(users)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Website</th>
                                <th>Company</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>Joe</td>
                                <td>skim984</td>
                                <td>skim984@gatech.edu</td>
                                <td>2951 satellite blvd, Duluth, GA</td>
                                <td>132-123-1234</td>
                                <td>www.naver.com</td>
                                <td>Southern Company</td>
                            </tr>
                            <tr th:remove="all">
                                <td>Joe</td>
                                <td>skim984</td>
                                <td>skim984@gatech.edu</td>
                                <td>2951 satellite blvd, Duluth, GA</td>
                                <td>132-123-1234</td>
                                <td>www.naver.com</td>
                                <td>Southern Company</td>
                            </tr>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.name}">Joe</td>
                                <td th:text="${user.username}">Joe</td>
                                <td th:text="${user.email}">Joe</td>
                                <td th:text="${user.address.street} + ', ' + ${user.address.suite} + ', ' + ${user.address.city} + ', ' + ${user.address.zipcode.substring(0, 5)}">2951 satellite blvd, Duluth, GA</td>
                                <td th:text="${user.phone}">132-123-1234</td>
                                <td th:text="${user.website}">www.naver.com</td>
                                <td th:text="${user.company.name}">Southern Company</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>